html, body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

h1 {
  color: #000;
}

#header {
  margin: 20px;
}

#menubar {
  background-color: black;
  color: white;
  /* padding: 1px 0 1px 0; */
  vertical-align: middle;
}

#menu-items {
  color: white;
  text-align: right;
  font-style: italic;
  font-family: serif;
  margin-right: 25px;
  margin-top: 5px;
}

#content {
  margin: 20px;
  text-align: center;
}

#footer {
  background-color: grey;
  padding: 25px;
}
